@main-color: #e57d00;
@secondary-color: #428BCA;
@bold-color: #736458;

.opacity-transition() {
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;

	&:hover {
		opacity: .7;
	}
}

.container-narrow {
	margin: 0 auto;
	max-width: 940px;
	padding-right: 15px;
	padding-left: 15px;

	img {
		max-width: 100%;
	}
}

a {
	color: @secondary-color;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;

	&:hover {
		color: @main-color;
		text-decoration: none;
	}
}

header.page-header {
	border: none;
}

header #logo a {
	.opacity-transition();
}

header nav {
	ul {
		margin-bottom: 0;

		li a {
			text-transform: uppercase;
			font-family: 'Economica', sans-serif;
			font-weight: bold;
			font-size: 22px;

			&.current {
				color: @main-color;
			}
		}
	}
}

ul.social-icons {
	float: right;

	li {
		margin: 0;
		padding: 0;
		float: left;
		clear: none;

		a {
			padding: 0 5px;
			.opacity-transition();
		}
	}
}

.post {
	header {
		margin-bottom: 3em;

		h1 {
			font-family: 'Economica', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 36px;
			color: @bold-color;
		}

		.meta {
			color: #8E908C;
			font-style: italic;
		}
	}

	footer {
		background-color: @secondary-color;
		background-image: url("../images/share.png");
	    background-origin: content-box;
	    background-position: right center;
	    background-repeat: no-repeat;
		color: darken(white, 20%);
    	margin: 3em 0;
    	padding: 10px;

    	a {
    		color: white;

    		&:hover {
    			color: gold;
    		}
    	}
	}
}
