@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
a:link, a:visited {
  color: #e67e22;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: consolas, monaco, monospace;
  font-size: 14px;
  background: #f8f8f8; 
  padding: .2em .5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #d04526;
}

.highlight {
  background: #f8f8f8; 
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: .5em;
  line-height: 1.2em !important;
  word-wrap: break-word;
  margin: 1em 0;
}

.highlight code {
  border-width: 0px;
  padding: 0;
}

i[class^=icon] {
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

li.post-listing {
  list-style: none;
  overflow: auto;
  margin-bottom: .3em;
}

div.post-listing-date {
  display: inline-block;
  line-height: 100%;
  float: left;
  margin-right: 1em;
}

div.post-listing-date .post-date-day {
  font-size: 115%;
  line-height: 110%;
  font-weight: bold;
}

div.post-listing-date .post-date-month {
  text-transform: lowercase;
  font-size: 80%;
  padding: 0 2px;
  float: right;
}

div.post-listing-date .post-date-year {
  display: block;
  font-size: 130%;
}

li.post-listing a.post-title {
  font-size: 150%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
div.topbar {
  background-color: #e67e22;
  height: 10px;
  margin-bottom: 40px;
}

header a, header a:link, header a:visited {
  text-decoration: none;
  color: #95A5A6;
}

header a:hover {
  color: #34495E;
}

header a.author-name {
  font-size: 220%;
  line-height: 100%;
  display: inline-block;
  color: #34495E;
}

header nav.main-links {
  margin: 15px 0;
}

header nav.main-links a {
  margin: 0 5px;
  font-size: 130%;
}

header nav.main-links i {
  vertical-align: -2px;
}

header a.avatar {
  opacity: .75;
  display: inline-block;
  line-height: 100%;
  float: right;
}

header a:hover.avatar {
  opacity: 1;
}

hr {
  width: 30%;
  text-align: center;
  margin: 40px auto;
  border: 1px solid #ECF0F1;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home-description {
  font-family: Garamond, Times, serif;
  font-size: 1.25em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#home h2 {
  margin-bottom: .75em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
a.disqus-comment-count {
  font-size: 12px;
  color: #555;
}

span.post-tag {
  font-family: consolas, monaco, monospace;
  font-size: 12px;
  background: #f8f8f8; 
  padding: .1em .25em;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #95A5A6;
}

span.post-tag-name {
  color: #555;
}

