---
layout: default
---
<div class="about page row">
	<header class="col-md-12 text-center">
		<h2>{{ page.title }}</h2>
	</header>
</div>

<div class="about page row">
	<div class="col-sm-7">
		{{ content }}

		<hr class="visible-xs">
	</div>
	<div class="col-sm-3 col-sm-offset-1">
		<div class="row">
			<div class="col-sm-12 col-xs-6 text-right">
				<h3 class="visible-xs"></h3>
				<img id="selfshot" src="/images/selfshot.jpg" alt="">
			</div>
			<div class="col-sm-12 col-xs-6">
				<h3>Connect</h3>
		
				<span class="text-muted">:: code</span>
				<ul class="list-inline profile-links">
					<li><a target="_blank" href="https://github.com/rdumont"><img src="/images/github32.png"></a></li>

					<li><a target="_blank" href="http://www.codeplex.com/site/users/view/rdumont"><img src="/images/codeplex32.png"></a></li>

					<li><a target="_blank" href="http://stackoverflow.com/users/186760"><img src="/images/stackoverflow32.png"></a></li>

					<li><a target="_blank" href="https://coderbits.com/rdumont"><img src="/images/coderbits32.png"></a></li>
				</ul>

				<span class="text-muted">:: social</span>
				<ul class="list-inline profile-links">
					<li><a href="https://twitter.com/rlsdumont"><img src="/images/twitter32.png"></a></li>

					<li><a href="https://linkedin.com/in/rlsdumont"><img src="/images/linkedin32.png"></a></li>

					<li><a target="_blank" href="http://www.rdio.com/people/rdumont/"><img src="/images/rdio32.png"></a></li>

					<li><a target="_blank" href="http://last.fm/user/rdumont"><img src="/images/lastfm32.png"></a></li>

					<li><a target="_blank" href="https://untappd.com/user/rdumont"><img src="/images/untappd32.png"></a></li>
				</ul>
			</div>
		</div>
		

		<p><section id="coderbits" data-coderbits-username="rdumont"></section></p>
</div>


<!-- Coderbits badge script -->
<!-- <link href="https://coderbits.com/content/widget/coderbits.css" media="all" rel="stylesheet" type="text/css">
<script src="https://coderbits.com/content/widget/coderbits.js"></script> -->