<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% if page.title == 'Home' %}
            Rodrigo Dumont
          {% else %}
            {{ page.title }} - Rodrigo Dumont
          {% endif %}
        </title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/gumby.css">
        <link rel="stylesheet" href="/assets/css/elusive-webfont.css">
        <link rel="stylesheet" href="/assets/css/tomorrow.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>
      <div class="topbar">
      </div>

      <header class="row">
        <div class="centered ten columns">
          <a href="/" class="author-name">Rodrigo Dumont</a>
          <a class="avatar" href="/"><img class="circle image" src="http://www.gravatar.com/avatar/ec99b9b82a56c5abc8002999162c890f" /></a>
          <nav class="main-links">
            <a href="/about">{ about }</a>
            <a href="https://github.com/rdumont" target="_blank"><i class="icon-github"></i></a>
            <a href="https://linkedin.com/in/rlsdumont" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/rlsdumont" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://last.fm/user/dddxbr" target="_blank"><i class="icon-lastfm"></i></a>
            <a href="https://last.fm/user/dddxbr" target="_blank"><i class="icon-rss"></i></a>
          </nav>
        </div>
      </header>

      <div class="row">
      {{ content }}
      </div>

      <footer class="row">
        
      </footer>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42693325-1', 'rodrigodumont.com');
        ga('send', 'pageview');
      </script>
    </body>
</html>
